<!-- app/views/shared/_salary_details.html.erb -->

<p>合計勤務時間: <%= @total_working_hours[:hours] %> 時間 <%= @total_working_hours[:minutes] %> 分</p>
<p>時給: <%= @hourly_wage %> 円</p>
<p>合計給与額: <%= @total_salary %> 円</p>
